node_modules/
test-pkg/node_modules/
test-pkgs/
outputs/
src/express/public/res.json
src/express/public/eval.json
tmp/
nginx/
log/
run/
scripts/
.vscode/
.idea/
.git/
.config/
.1024.nix
.1024nix
.1024feature*
.nfs*
ssh/
