.node {
    @at-root {
        circle#{&} {
            stroke-width: 1.5px;
        }
        text#{&} {
            font-family: Monaco, sans-serif;
            font-size: 11px;
        }
    }
}

.link {
    @at-root {
        line#{&} {
            stroke: #999;
        }
        text#{&} {
            fill: #999;
            font-size: 10px;
            font-weight: 600;
            font-family: '方正准圆简体', sans-serif;
            filter: 
                drop-shadow(0 0 0.15px white)
                drop-shadow(0 0 0.15px white)
                drop-shadow(0 0 0.15px white)
                drop-shadow(0 0 0.15px white)
                drop-shadow(0 0 0.15px white)
                drop-shadow(0 0 0.15px white)
                drop-shadow(0 0 0.15px white)
                drop-shadow(0 0 0.15px white)
                drop-shadow(0 0 0.15px white);
        }
    }
}

.hidden-node {
    @at-root circle#{&} {
        fill: rgb(231, 213, 127);
        stroke: rgb(230, 244, 40)
    }
}

.terminal-node {
    @at-root circle#{&} {
        fill: black;
        stroke: none;
    }
}

.free-node {
    @at-root circle#{&} {
        fill: grey;
        stroke: #f7f3da
    }
}

.transit-node {
    @at-root circle#{&} {
        fill: white;
        stroke: black;
    }
}

.direct-node {
    @at-root circle#{&} {
        stroke: #c84;
    }
}

.root-node {
    @at-root {
        circle#{&} {
            stroke-width: 2px;
            stroke: rgb(174, 32, 77);
        }

        text#{&} {
            font-weight: 800;
            font-size: 14px;
        }
    }
}

.except-node {
    @at-root {
        circle#{&} {
            stroke: #ddd;
            fill: #ddd;
        }
        text#{&} {
            fill: #ddd;
        }
    }
}

line.optional-link {
    stroke-dasharray: 8 2 2 2;
}

.in {
    &-link {
        @at-root {
            line#{&} {
                stroke: green;
            }
            text#{&} {
                fill: green;
            }
        }
    }
    &-node {
        @at-root {
            circle#{&} {
                fill: green;
            }
            text#{&} {
                fill: green;
            }
        }
    }
}

.out{
    &-link {
        @at-root { 
            line#{&} {
                stroke: orange;
            }
            text#{&} {
                fill: orange;
            }
        }
    }
    &-node {
        @at-root {
            circle#{&} {
                fill: orange;
            }
            text#{&} {
                fill: orange;
            }
        }
    }
}

.path{
    &-link {
        @at-root { 
            line#{&} {
                stroke: cyan;
            }
            text#{&} {
                fill: cyan;
            }
        }
    }
    &-node {
        @at-root {
            circle#{&} {
                fill: cyan;
            }
            text#{&} {
                fill: blue;
            }
        }
    }
}

.focus {
    &-link {
        @at-root line#{&} {
            stroke: black;
        }
    }
    &-node {
        @at-root {
            circle#{&} {
                stroke: red;
            }
            text#{&} {
                fill: red;
            }
        }
    }
}