@charset "UTF-8";
#desc {
  font-family: Ubuntu, Hack, JetBrains Mono, Cascadia Code, "方正准圆简体", "青鸟华光准圆", "有爱圆体 CN", "幼圆", sans-serif;
  filter: drop-shadow(0 0 0.3px white) drop-shadow(0 0 0.3px white) drop-shadow(0 0 0.3px white) drop-shadow(0 0 0.3px white) drop-shadow(0 0 0.3px white) drop-shadow(0 0 0.3px white) drop-shadow(0 0 0.3px white) drop-shadow(0 0 0.3px white) drop-shadow(0 0 0.3px white);
}

path.link {
  fill: none;
}

.chinese-note {
  writing-mode: tb-rl;
}

text.node {
  font-family: Ubuntu, Hack, JetBrains Mono, Cascadia Code, "方正准圆简体", "青鸟华光准圆", "有爱圆体 CN", "幼圆", sans-serif;
  font-size: 11px;
  fill: rgb(62, 62, 62);
}

path.link {
  stroke: #999;
}

text.link {
  fill: #999;
  font-size: 10px;
  font-weight: 500;
  font-family: "方正准圆简体", "青鸟华光准圆", "有爱圆体 CN", "幼圆", sans-serif;
  filter: drop-shadow(0 0 0.1px white) drop-shadow(0 0 0.1px white) drop-shadow(0 0 0.1px white) drop-shadow(0 0 0.1px white) drop-shadow(0 0 0.1px white) drop-shadow(0 0 0.1px white) drop-shadow(0 0 0.1px white) drop-shadow(0 0 0.1px white) drop-shadow(0 0 0.1px white);
}

circle.hidden-node {
  fill: #FFFB8F;
  stroke: #DEDA66;
}

circle.terminal-node {
  fill: rgb(88, 88, 88);
  stroke: none;
}

circle.free-node {
  fill: #f7f3da;
  stroke: grey;
}

text.free-node {
  fill: darkgrey;
}

circle.transit-node {
  fill: white;
  stroke: rgb(88, 88, 88);
}

circle.depth-end-node {
  fill: rgb(201, 109, 109);
}

path.depth-end-link {
  stroke: rgb(201, 109, 109);
}

circle.not-found-node {
  stroke: rgb(144, 114, 123);
  fill: rgb(72, 57, 57);
}

text.not-found-node {
  fill: rgb(135, 46, 68);
}

text.mark-node {
  fill: rgb(204, 90, 14);
  text-decoration: underline;
}

circle.direct-node {
  stroke: rgb(237, 168, 149);
}

circle.root-node {
  stroke: rgb(174, 32, 77);
  fill: rgb(248, 152, 182) ；;
}

text.root-node {
  font-family: Segoe UI, Franklin Gothic, Rockwell Extra, "方正准圆简体", "青鸟华光准圆", "有爱圆体 CN", "幼圆", fantasy;
  font-weight: 800;
  font-size: 14px;
  fill: black;
}

circle.except-node {
  stroke: #aaa;
  fill: #aaa;
  opacity: 35%;
}

text.except-node {
  fill: #aaa;
  opacity: 50%;
}

path.optional-link {
  stroke-dasharray: 8 2 2 2;
}

path.invalid-link {
  stroke: rgb(201, 109, 109);
  stroke-width: 2px;
}

path.in-link {
  stroke: #7FD37F;
}

text.in-link {
  fill: #7FD37F;
}

circle.in-node {
  fill: #83E983;
  stroke: #50b650;
}

text.in-node {
  fill: #5DCB5D;
}

path.out-link {
  stroke: #FF8F8F;
}

text.out-link {
  fill: #DE6666;
}

circle.out-node {
  fill: #FFA5A5;
  stroke: #d17979;
}

text.out-node {
  fill: rgb(204, 90, 14);
}

path.path-link {
  stroke: rgb(98, 209, 196);
}

text.path-link {
  fill: rgb(30, 188, 216);
}

circle.path-node {
  fill: rgb(136, 231, 231);
  stroke: rgb(38, 207, 207);
}

text.path-node {
  fill: rgb(59, 59, 184);
}

text.invalid-link {
  fill: rgb(172, 77, 107);
  filter: drop-shadow(0 0 0.1px rgb(56, 45, 45)) drop-shadow(0 0 0.1px rgb(56, 45, 45)) drop-shadow(0 0 0.1px rgb(56, 45, 45)) drop-shadow(0 0 0.1px rgb(56, 45, 45)) drop-shadow(0 0 0.1px rgb(56, 45, 45)) drop-shadow(0 0 0.1px rgb(56, 45, 45)) drop-shadow(0 0 0.1px rgb(56, 45, 45)) drop-shadow(0 0 0.1px rgb(56, 45, 45)) drop-shadow(0 0 0.1px rgb(56, 45, 45));
}

circle.focus-component {
  stroke: #B481DB;
}

path.focus-component {
  stroke: #A77DC7;
}

text.focus-component {
  fill: #9357BE;
}

text.focus-node {
  text-decoration: underline;
}/*# sourceMappingURL=chart.css.map */